<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customers page</title>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>客戶列表</h1>
		</div>
		
		<div class="row">
			<table class="table table-hover" th:if="${!customers.empty}">
				<thead>
					<tr>
						<th scope="col">客戶Id</th>
						<th scope="col">公司名稱</th>
						<th scope="col">聯絡人名稱</th>
						<th scope="col">城市</th>
						<th scope="col">地區</th>
						<th scope="col">郵遞區號</th>
						<th scope="col">行動電話號碼</th>
						<th scope="col">修改</th>
						<th scope="col">刪除</th>
					</tr>
				</thead>
				<tbody>
					    <tr th:each="customer : ${customers}">
						<td th:text="${customer.customerId}"></td>
						<td th:text="${customer.companyName}"></td>
						<td th:text="${customer.contacName}"></td>
						<td th:text="${customer.city}"></td>
						<td th:text="${customer.state}"></td>
						<td th:text="${customer.postalCode}"></td>
						<td th:text="${customer.phoneNumber}"></td>
						<td><a sec:authorize="hasRole('EMPLOYEE')"class="btn btn-primary" th:href="@{/edit-customer/} + ${customer.customerId}">修改資料</a></td>
						<td><a sec:authorize="hasRole('EMPLOYEE')"class="btn btn-danger" th:data-confirm-delete="是否刪除客戶資料？"
                               onclick="if(!confirm(this.getAttribute('data-confirm-delete')))return false"
                               th:href="@{/delete-customer/} + ${customer.customerId}">刪除資料</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="row" th:if="${customers.empty}">
			<h3>無客戶列表</h3>
		</div>
		
		<div class="row">
			<a th:href="@{/}" class="btn btn-warning">回上一頁</a>
		</div>
	</div>
</body>
</html>