<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer Form page</title>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm">
			</div>
			
			<div class="col-sm-8">
				<h1>新增客戶</h1>
				
				<form action="#" th:action="@{/process-customer-form}" th:object="${customer}" method="post">
				
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{customerId}">
					</div>
				
					<div class="form-group">
						<label>公司名稱</label>
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></div>
						<input type="text" class="form-control" th:field="*{companyName}">
					</div>
					
					<div class="form-group">
						<label>聯絡人名稱</label>
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('contacName')}" th:errors="*{contacName}"></div>
						<input type="text" class="form-control" th:field="*{contacName}">
					</div>
					
					<div class="form-group">
						<label>城市</label>
						<select name="city" class="form-control">
							<option th:each="city : ${T(main.model.Customer.CITY).values()}"
									th:value="${city}" th:text="${city}"></option>
						</select>
					</div>
					
					<div class="form-group">
						<label>地區</label>
						<select name="state" class="form-control">
							<option th:each="state : ${T(main.model.Customer.STATE).values()}"
									th:value="${state}" th:text="${state}"></option>
						</select>
					
					<div class="form-group">
						<label>郵遞區號</label>
						<select name="postalCode" class="form-control">
							<option th:each="postalCode : ${T(main.model.Customer.POSTAL_CODE).values()}"
									th:value="${postalCode}" th:text="${postalCode}"></option>
						</select>
					</div>
					
					<div class="form-group">
						<label>行動電話號碼</label>
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
						<input type="text" class="form-control" th:field="*{phoneNumber}">
					</div>
					
					<div class="form-row">
						<div class="col">
							<input class="btn btn-success" type="submit" value="確認">
						<div class="col">
							<a th:href="@{/}" class="btn btn-warning float-right">回上一頁</a>
						</div>
					</div>
				</form>
			</div>
			
			<div class="col-sm">
			</div>
		</div>
	</div>
</body>
</html>