<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>eshop</title>
        <link rel="icon" type="image/x-icon" th:href="@{/ico/favicon.ico}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
        <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body class="d-flex flex-column h-100">
          <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" th:fragment="header">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Eshop</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">

                     <li class="nav-item"><a sec:authorize="isAnonymous()"class="nav-link" th:href="@{/login}">登入</a></li>
                        <li class="nav-item"><a sec:authorize="!isAnonymous()"class="nav-link" th:href="@{/logout}">登出</a></li>
                        <li class="nav-item"><a sec:authorize="!isAnonymous()" class="nav-link" th:href="@{/add-customer}">新增客戶</a></li>
                        <li class="nav-item"><a sec:authorize="!isAnonymous()" class="nav-link" th:href="@{/show-customer}">客戶列表</a></li>
                        <li class="nav-item"><a sec:authorize="!isAnonymous()" class="nav-link" href="#projects">ShoopingCart</a></li>
                        <li class="nav-item"><a sec:authorize="!isAnonymous()" class="nav-link" th:href="@{/order}">訂單</a></li>
				 </ul>

                </div>
            </div>
        </nav>
    </body>
</html>
