<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Order page</title>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>List of available order</h1>
		</div>
		
		<div class="row">
			<table class="table table-hover" th:if="${!tours.empty}">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">姓名</th>
						<th scope="col">產品代碼</th>
						<th scope="col">地區（洲）</th>
						<th scope="col">日期</th>
						<th scope="col">數量</th>
						<th scope="col">All Inclusive</th>
						<th scope="col">編輯</th>
						<th scope="col">編輯資料</th>
						<th scope="col">刪除</th>
						<th scope="col">資料</th>
						<th scope="col">Sign in</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${order}">
						<td th:text="${orderStat.count}"></td>					
						<td th:text="${order.name}"></td>
						<td th:text="${order.code}"></td>
						<td th:text="${order.continent}"></td>
						<td th:text="${#dates.format(order.date, 'yyyy-MM-dd')}"></td>
						<td th:text="${order.duration}"></td>
						<td th:text="${order.allInclusive}"></td>
						<td><a class="btn btn-primary" th:href="@{/editOrder/} + ${tour.id}">Edit</a></td>
						<td><a class="btn btn-primary" th:href="@{/editOrderDetails/} + ${tour.id}">Edit details</a></td>
						<td><a class="btn btn-danger" th:href="@{/deleteOrder/} + ${tour.id}">Delete</a></td>
						<td><a class="btn btn-success" th:href="@{/showOrderDetails/} + ${tour.id}">Details</a></td>
						<td>
						    <a class="btn btn-success" th:href="@{/addUserToTour/{id}/{userId}(id=${tour.id}, userId=1)}">1</a>
						    <a class="btn btn-success" th:href="@{/addUserToTour/{id}/{userId}(id=${tour.id}, userId=2)}">2</a>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="row" th:if="${tours.empty}">
			<h3>No tours in the offer</h3>
		</div>
		
		<div class="row">
			<a th:href="@{/}" class="btn btn-warning">Back</a>
		</div>
	</div>
</body>
</html>